*{
  box-sizing: border-box;
}

h1,
p {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
figcaption {
  padding: 5px 0px;
  margin: 5px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border: 1px solid;
}
body {
  background-color: rgb(102, 57, 185);
}
audio{
  border: 1px solid red;
}